/* ====================================================
                Html, Body
==================================================== */
html,
body {
    width: 100%;
}

/* ====================================================
    Login/Sign-Up/Change-Password/Forgot-Password
==================================================== */
.users {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkgrey;
}
.users-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.users-content form {
    background-color: #ffffff;
    width: 480px;
    padding: 50px;
    margin-top: 25px;
    border-radius: 4px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.users-content form h3 {
    text-align: center;
    font-family: "Open Sans";
    margin: 0 0 0 0;
    padding: 0 0;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}
.users-content form p {
    text-align: center;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
    margin: 20px 0;
}
.users-content .row p.success {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: green;
}
.users-content form .form-group {
    margin: 0;
}
.users-content form .form-group label {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 25px 0 0 0;
    color: #333333;
}
.users-content form .form-group label.forgot {
    position: relative;
    right: -274px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #6255a5;
}
.users-content form .form-control {
    border: 1px solid #6255a5;
    width: 480px;
    height: 50px;
    margin: 10px 0;
    border-radius: 3px;
    display: block;
}
.users-content form .form-group img {
    margin: 0;
    transform: translateX(442px) translateY(-46px);
}
.users-content form .form-group p {
    text-align: left;
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #ff3636;
}
.users-content .row {
    margin: 0;
}
.users-content .row p {
    margin-top: 20px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
.users-content .row p span {
    color: #6255a5;
}

/* ====================================================
                Button
==================================================== */
.btn-general {
    background-color: #6255a5;
    text-align: center;
    margin: 0;
    padding: 9px 0;
    border-radius: 3px;
    color: #ffffff;
    font-style: "Open Sans";
    font-size: 18px;
    text-transform: uppercase;
    line-height: 22px;
}
.btn-users {
    width: 480px;
    height: 40px;
}